*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: black;
    font-size: 15px;
    line-height: 1.5em;
}

a{
    color: #262626;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* Navigation Bar */
.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
}

.logo{
    width: 120px;
}

.main-menu{
    display: flex;
    flex: 1;
    margin-left: 20px;
}

.main-menu li{
    padding: 0 10px;
    font-weight: 500;
}

.right-menu{
    display: flex;
}

.right-menu li{
    padding: 0 10px;
}

.main-nav ul li a{
    padding-bottom: 2px;
}

.main-nav ul li a:hover{
    border-bottom: 2px solid #262626;
}

/* Button */
.menu-button{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
    display: none;
}

.button{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #262626;
    color: white;
    font-size: 15px;
}

.button:hover{
    opacity: 0.9;
}

.dark{
    color: white;
}

.dark .button{
    background-color: #f4f4f4;
    color: #333;
}

/* Showcase */
.showcase{
    width: 100%;
    height: 400px;
    background: url("/Images/showcase.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.showcase h2, .showcase p{
    padding: 10px;
}

.showcase .button{
    margin-top: 20px;
}

.home-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
}

/* Home Cards */
.home-cards img{
    width: 100%;
    margin-bottom: 20px;
}

.home-cards h3{
    margin-bottom: 5px;
}

.home-cards a{
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    font-weight: bold;
}

.home-cards a:hover i{
    margin-left: 10px;
}

/* Xbox */
.Xbox{
    width: 100%;
    height: 350px;
    background: url("/Images/xbox.png") no-repeat center center/cover;
    margin-bottom: 20px;
} 

.Xbox .content{
    width: 40%;
    padding: 50px 0 0 30px;
}

.Xbox p{
    margin: 10px 0 20px;
}

/* Carbon */
.carbon{
    width: 100%;
    height: 350px;
    background: url("/Images/carbon.jpg") no-repeat center center/cover;
    margin-bottom: 30px;
}

.carbon .content{
    width: 55%;
    padding: 100px 0 0 30px;
}

.carbon .content p{
    margin: 10px 0 20px;
}

/* Follow */
.follow{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.follow a{
    margin-left: 15px;
}

/* Links */
.links{
    background-color: #f2f2f2;
    color: #616161;
    padding: 35px 0;
    font-size: 12px;
}

.inner-links{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.inner-links li{
    line-height: 2.8em;
}

/* Footer */
.footer{
    background-color: #f2f2f2;
    color: #616161;
    padding: 20px 0;
    font-size: 12px;
}

.inner-footer{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer div{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.footer div i{
    margin-right: 10px;
}

.footer ul{
    display: flex;
    flex-wrap: wrap;
}

.footer li{
    margin-right: 30px;
    margin-bottom: 20px;
}

/* Media Queries */
@media(max-width: 700px){
    .menu-button{
        display: block;
    }
    
    .menu-button:hover{
        opacity: 0.5;
    }

    .main-nav ul.right-menu{
        margin-right: 50px;
    }

    .main-nav ul.main-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #f2f2f2;
        width: 50%;
        height: 100%;
        border-right: #ccc 1px solid;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
    }

    .main-nav ul.main-menu li{
        padding: 10px;
        border-bottom: #ccc 1px solid;
        font-size: 15px;
    }

    .main-nav ul.main-menu li:last-child{
        border: 0;
    }

    .main-nav ul.main-menu.show{
        transform: translateX(-20px)
    }

    .home-cards{
        grid-template-columns: repeat(2, 1fr);
    }

    .Xbox .content p{
        display: none;
    }

    .Xbox .content h2{
        margin-bottom: 20px;
    }

    .carbon .content{
        width: 85%;
    }

    .links .inner-links{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 500px){
    .home-cards{
        grid-template-columns: 1fr;
    }

    .links .inner-links{
        grid-template-columns: repeat(2, 1fr);
    }
}
